aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3==5.1.4
httpx[http2]==0.27.0
lyricsgenius
motor==3.6.0
ntgcalls
pillow
psutil
py-tgcalls==2.0.6
pykeyboard
pyrofork
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
TgCrypto-pyrofork>=1.2.7
unidecode
yt-dlp
youtube-search-python

git+https://github.com/Mayuri-Chan/pyrofork
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
